.donut-form {
  &-radios {
    display: flex;
    align-content: center;
    &-label {
      margin-right: 10px;
    }
    label {
      display: flex;
      align-items: center;
      span {
        color: #444;
        margin-bottom: 0;
      }
    }
  }
  &-wokring {
    font-size: 12px;
    font-style: italic;
  }
  &-error {
    font-size: 12px;
    color: #e66262;
  }
}