<form class="donut-form" #form="ngForm">
  <label>
    <span>Name</span>
    <input
      type="text"
      name="name"
      class="input"
      required
      minlength="5"
      [ngModel]="donut.name"
      [ngModelOptions]="{ updateOn: 'blur' }"
      #name="ngModel"
    />
    <ng-container *ngIf="name.invalid && name.touched">
      <ng-container [ngSwitch]="true">
        <div class="donut-form-error" *ngSwitchCase="!!name.errors?.minlength">
          Minimum length of a name is
          {{ name.errors?.minlength?.requiredLength }}!
        </div>
        <div class="donut-form-error" *ngSwitchCase="name.errors?.required">
          The name is required
        </div>
      </ng-container>
    </ng-container>
  </label>
  <label>
    <span>Price</span>
    <input
      type="number"
      name="price"
      class="input"
      required
      min="1"
      [ngModel]="donut.price"
      #price="ngModel"
    />
    <ng-container *ngIf="price.invalid && price.touched">
      <ng-container [ngSwitch]="true">
        <div class="donut-form-error" *ngSwitchCase="price.errors?.required">
          The Price is required
        </div>
        <div class="donut-form-error" *ngSwitchCase="price.value <= 0">
          The Price is need to be greater than 0
        </div>
      </ng-container>
    </ng-container>
  </label>
  <label for="">
    <span>Icon</span>
    <select
      name="icon"
      class="input input--select"
      required
      [ngModel]="donut.icon"
      #icon="ngModel"
    >
      <option *ngFor="let icon of icons" [value]="icon">
        {{ icon }}
      </option>
    </select>
    <ng-container *ngIf="icon.invalid && icon.touched">
      <div class="donut-form-error" *ngIf="icon.errors?.required">
        The Icon is required
      </div>
    </ng-container>
  </label>

  <div class="donut-form-radios">
    <p class="donut-form-radios-label">Promo:</p>
    <label>
      <input
        type="radio"
        name="promo"
        [value]="undefined"
        [ngModel]="donut.promo"
      />
      <span>None</span>
    </label>
    <label>
      <input type="radio" name="promo" value="new" [ngModel]="donut.promo" />
      <span>New</span>
    </label>
    <label>
      <input
        type="radio"
        name="promo"
        value="limited"
        [ngModel]="donut.promo"
      />
      <span>Limited</span>
    </label>
  </div>
  <label for="">
    <span>Description</span>
    <textarea
      name="description"
      class="input input--textarea"
      required
      [ngModel]="donut.description"
      #textarea="ngModel"
    ></textarea>
    <ng-container *ngIf="textarea.invalid && textarea.touched">
      <div class="donut-form-error" *ngIf="textarea.errors?.required">
        The Description is required
      </div>
    </ng-container>
  </label>
  <button class="btn btn--green" type="button" (click)="handleCreate(form)">Create Donut</button>
  <button class="btn btn--green" type="button" [disabled]="form.untouched" (click)="handleUpdate(form)">Update Donut</button>
  <button class="btn btn--grey" type="button" (click)="form.resetForm()">
    Reset form
  </button>
  <pre>{{ form.value | json }} </pre>

  <div class="donut-form--working" *ngIf="form.valid && form.submitted">
    Wokring
  </div>
</form>
